<footer>
    <div id="footed">
        <div id="bottombox">
            <div id="sign">A Jeddy Cheng Joint</div>
            <a id="sign" href="https://www.linkedin.com/in/jeddy-cheng/">linkedin</a>
            <div id="sign">© 2022 Mulist, Inc</div>
        </div>
    </div>
</footer>

</body>
</html>