<footer>
    <div id="footed">
        <div id="bottombox">
            <div id="sign">A Jeddy Cheng Joint</div>
            <a id="sign" href="https://www.linkedin.com/in/jeddy-cheng/">linkedin</a>
            <small>© 2022 Mulist, Inc</small>
        </div>
    </div>
</footer>
<small>© 2022 Mulist, Inc</small>
</body>
</html>