<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    
        <title>Mulist</title>
    </head>
<body>
    
</body>
</html>
<header>
    <div id="nav-bar">
        <div id="centernav">
            <img src="./images/logo.png" id="logo">
            <div id="user-box">
                <div id="mylist">My List</div>
                <div class="dropdown">
                    <img src="./images/avi.jpeg" id="avi">
                    <div class="dropdown-content">
                        <p><a id="droplink" href="#">My Account</a></p>
                        <p><a id="droplink" href="#">Settings</a></p>
                        <p><a id="droplink" href="#">My List</a></p>
                        <p><a id="droplink" href="#">Support</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div id="main">
    <div id="mainbox">

    <br><br><br><br><br><br><br><br>
   
   

<a href="/music">List of Songs (index)</a> |
<a href="/music/new"> Make a new Song</a>




    